XML & XSD/Assignment4/Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Hotels">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Hotel">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" />
							<xs:element name="Contact">
								<xs:complexType>
									<xs:attribute name="Phone" type="xs:string" use="required" />
									<xs:attribute name="Email" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="Address">
								<xs:complexType>
									<xs:attribute name="Number" type="xs:string" use="required" />
									<xs:attribute name="Street" type="xs:string" use="required" />
									<xs:attribute name="City" type="xs:string" use="required" />
									<xs:attribute name="Zip" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Stars" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
